{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="items">
            {% for product in products %}
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <a href="{{ url('product_show', {'id':product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="list-group-item-info">
                        {{ product.price }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
