{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="items">
            {% for book in books %}
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <a href="{{ url('book_show', {'id':book.id}) }}">{{ book.name }}</a>
                    </div>
                    <div class="list-group-item-info">
                        {{ book.price }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
