{# app/Resources/views/article/recent_list.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    {% for article in articles %}
        <a href="/article/{{ article.slug }}">
            {{ article.title }}
        </a>
    {% endfor %}
{% endblock %}
